| <img src ='https://bit.ly/39XPeCc' width=200 align='left'> |
|:--|
|<h1>    test_del_duplicated_columns.ipynb
</h1> 
|- Merge, join, and concatenate — pandas 1.0.3 documentation 
|- https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html

### 사용함수의 정의

In [1]:
""" 
# 기본적인 module import 위치로 작업폴더 변경 getcwd() --> chidr()
# HOME 을 지정하고 작업폴더를 HOME 으로 변경.
"""
import os

HOME= 'dacon_competition_2020'
dir_base = "".join(os.getcwd().partition(HOME)[:2]) + "\\"
os.chdir(dir_base)

In [2]:
import numpy as np
import pandas as pd

# TEST NAME HERE! & Explain it!
> - Merge, join, and concatenate — pandas 1.0.3 documentation
> - https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html

In [3]:
df1 = pd.DataFrame({'A': ['A0', np.NaN, 'A1', 'A7', 'A0'],
                    'B': ['B0', 'B3', np.NaN, 'B12','B9'],
                    'C': ['C0', 'C3', 'C9', 'C10', 'C11'],
                    'D': ['D8', np.NaN, 'D2', 'D3', 'D7']},
                   index=np.arange(5))


df2 = pd.DataFrame({'A': [np.NaN, 'A6',],
                    'B': ['B4', 'B6',],
                    'C': ['C5', 'C7'],
                    'D': ['D5', '',]},
                   index=[12, 7])


df3 = pd.DataFrame({'A': ['A8', 'A4', 'A5',np.NaN,],
                    'B': ['B8',  np.NaN,'B6','B12'],
                    'C': ['C10',  'C12','C0','C5'],
                    'D': ['D10', 'D5', 'D11','D1']},
                   index=np.arange(10, 14))

In [4]:
df1

     A    B    C    D
0   A0   B0   C0   D8
1  NaN   B3   C3  NaN
2   A1  NaN   C9   D2
3   A7  B12  C10   D3
4   A0   B9  C11   D7

In [5]:
"""
#  중복된 칼럼의 삭제 loc, iloc 사용하기
"""
_df = df1.loc[1:2,['A','D','C']]
_df.fillna('Empty!')

        A       D   C
1  Empty!  Empty!  C3
2      A1      D2  C9

In [6]:
print(_df.T[1].value_counts())
print(_df.T[2].value_counts())
_df.T

C3    1
Name: 1, dtype: int64
A1    1
D2    1
C9    1
Name: 2, dtype: int64

     1   2
A  NaN  A1
D  NaN  D2
C   C3  C9