In [0]:
import os
from google.colab import drive
drive.mount('/content/gdrive', force_remount=False)
FOLDER= '/content/gdrive/My Drive/Colab Notebooks'
os.chdir(FOLDER)
print(os.getcwd())

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive
/content/gdrive/My Drive/Colab Notebooks

In [0]:
!pip install bayesian-optimization

Collecting bayesian-optimization
  Downloading https://files.pythonhosted.org/packages/b5/26/9842333adbb8f17bcb3d699400a8b1ccde0af0b6de8d07224e183728acdf/bayesian_optimization-1.1.0-py3-none-any.whl
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from bayesian-optimization) (1.18.2)
Requirement already satisfied: scipy>=0.14.0 in /usr/local/lib/python3.6/dist-packages (from bayesian-optimization) (1.4.1)
Requirement already satisfied: scikit-learn>=0.18.0 in /usr/local/lib/python3.6/dist-packages (from bayesian-optimization) (0.22.2.post1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.18.0->bayesian-optimization) (0.14.1)
Installing collected packages: bayesian-optimization
Successfully installed bayesian-optimization-1.1.0

In [0]:
import pandas as pd                         # 데이터 분석 라이브러리
import numpy as np                          # 계산 라이브러리
from tqdm import tqdm                       # 진행바
from sklearn.metrics import roc_auc_score   # AUC 스코어 계산
import xgboost as xgb
from sklearn.model_selection import KFold   # K-fold CV
from bayes_opt import BayesianOptimization  # 베이지안 최적화 라이브러리
from functools import partial               # 함수 변수 고정
from keras.utils import to_categorical      # 카테고리 범주바꾸는 라이브러리
import numpy as np
import warnings                             
warnings.filterwarnings("ignore")           # 경고 문구 미표시
import random                               # random 변수 생성

Using TensorFlow backend.

In [0]:
# 데이터가 많아 5분정도 걸립니다.
train = pd.read_csv("/content/gdrive/My Drive/Colab Notebooks/competition data/startcraft_data/train.csv") 
test = pd.read_csv("/content/gdrive/My Drive/Colab Notebooks/competition data/startcraft_data/test.csv") 
sample_submission_data = pd.read_csv("/content/gdrive/My Drive/Colab Notebooks/competition data/startcraft_data/sample_submission.csv")

In [0]:
train.head()

   game_id  winner  time  ...  species      event                  event_contents
0        0       1  0.00  ...        T     Camera         at (145.25, 21.5078125)
1        0       1  0.00  ...        T     Camera         at (22.75, 147.0078125)
2        0       1  0.02  ...        T  Selection    ['OrbitalCommand [3080001]']
3        0       1  0.02  ...        T    Ability               (1360) - TrainSCV
4        0       1  0.14  ...        T     Camera  at (142.99609375, 24.50390625)

[5 rows x 7 columns]

In [0]:
test.head()

   game_id  time  player species              event             event_contents
0    38872  0.00       0       P             Camera     at (22.25, 81.5078125)
1    38872  0.00       1       P             Camera  at (120.25, 153.83984375)
2    38872  0.01       1       P          Selection        ['Nexus [3100001]']
3    38872  0.01       1       P            Ability        (15E0) - TrainProbe
4    38872  0.01       1       P  AddToControlGroup                        NaN

In [0]:
sample_submission_data.head()

   game_id  winner
0    38872       0
1    38873       0
2    38874       0
3    38875       0
4    38876       0

In [0]:
sample_submission_data['winner'].value_counts()

0    16787
Name: winner, dtype: int64

In [0]:
df_train = pd.DataFrame(columns=['game_id'])
df_train.game_id = train.game_id.unique()

In [0]:
df_test = pd.DataFrame(columns=['game_id'])
df_test.game_id = test.game_id.unique()

In [0]:
df_train['time'] = np.array(train[train.shift(-1).game_id != train.game_id].time)

In [0]:
df_test['time'] = np.array(test[test.shift(-1).game_id != test.game_id].time)

In [0]:
df_train.head()

   game_id  time
0        0  7.24
1        1  9.59
2        2  9.59
3        3  9.59
4        4  5.43

In [0]:
df_test.head()

   game_id  time
0    38872  7.06
1    38873  6.07
2    38874  4.41
3    38875  7.58
4    38876  2.50

In [0]:
df = train[train.player==0]
df_train['player0_species'] = np.array(df[df.shift(-1).game_id != df.game_id].species)
df = train[train.player==1]
df_train['player1_species'] = np.array(df[df.shift(-1).game_id != df.game_id].species)

In [0]:
df = test[test.player==0]
df_test['player0_species'] = np.array(df[df.shift(-1).game_id != df.game_id].species)
df = test[test.player==1]
df_test['player1_species'] = np.array(df[df.shift(-1).game_id != df.game_id].species)

In [0]:
df = train[train.player==0]
df_train['event_count_0'] = np.array(df.game_id.value_counts()[df.game_id.unique()])
df = train[train.player==1]
df_train['event_count_1'] = np.array(df.game_id.value_counts()[df.game_id.unique()])

In [0]:
df = test[test.player==0]
df_test['event_count_0'] = np.array(df.game_id.value_counts()[df.game_id.unique()])
df = test[test.player==1]
df_test['event_count_1'] = np.array(df.game_id.value_counts()[df.game_id.unique()])

In [0]:
df_test.head()

   game_id  time player0_species player1_species  event_count_0  event_count_1
0    38872  7.06               P               P            571            715
1    38873  6.07               Z               P            421            389
2    38874  4.41               T               T            469            824
3    38875  7.58               T               P           1223            863
4    38876  2.50               Z               Z            582            213

In [0]:
df_train.head()

   game_id  time player0_species player1_species  event_count_0  event_count_1
0        0  7.24               T               T            592            548
1        1  9.59               P               T           1223           1211
2        2  9.59               P               Z            851           1371
3        3  9.59               T               P           1389           1622
4        4  5.43               T               Z            966            651

In [0]:
for event in tqdm(train.event.unique()):
    df = train[(train.player==0)&(train.event==event)]
    df = pd.DataFrame(df.game_id.value_counts()[df.game_id.unique()]).rename({'game_id':event+'_count_0'}, axis = 1)
    df['game_id']= np.array(df.index)
    df_train = pd.merge(df_train, df, on='game_id', how='left')

    df = train[(train.player==1)&(train.event==event)]
    df = pd.DataFrame(df.game_id.value_counts()[df.game_id.unique()]).rename({'game_id':event+'_count_1'}, axis = 1)
    df['game_id']= np.array(df.index)
    df_train = pd.merge(df_train, df, on='game_id', how='left')
df_train = df_train.fillna(0)

100%|██████████| 8/8 [01:10<00:00,  8.80s/it]

In [0]:
for event in tqdm(test.event.unique()):
    df = test[(test.player==0)&(test.event==event)]
    df = pd.DataFrame(df.game_id.value_counts()[df.game_id.unique()]).rename({'game_id':event+'_count_0'}, axis = 1)
    df['game_id']= np.array(df.index)
    df_test = pd.merge(df_test, df, on='game_id', how='left')

    df = test[(test.player==1)&(test.event==event)]
    df = pd.DataFrame(df.game_id.value_counts()[df.game_id.unique()]).rename({'game_id':event+'_count_1'}, axis = 1)
    df['game_id']= np.array(df.index)
    df_test = pd.merge(df_test, df, on='game_id', how='left')
df_test = df_test.fillna(0)

100%|██████████| 8/8 [00:29<00:00,  3.68s/it]

In [0]:
for event in tqdm(train.event.unique()):
    df_train[event + '_delta'] = df_train[event+'_count_0'] - df_train[event+'_count_1']

100%|██████████| 8/8 [00:00<00:00, 199.38it/s]

In [0]:
for event in tqdm(test.event.unique()):
    df_test[event + '_delta'] = df_test[event+'_count_0'] - df_test[event+'_count_1']

100%|██████████| 8/8 [00:00<00:00, 848.30it/s]

In [0]:
df_train['winner'] = np.array(train[train.shift(-1).game_id != train.game_id].winner)

In [0]:
idx = df_train[df_train.player0_species=='T'].index
df_train.loc[idx, 'player0_species'] = 0
idx = df_train[df_train.player0_species=='P'].index
df_train.loc[idx, 'player0_species'] = 1
idx = df_train[df_train.player0_species=='Z'].index
df_train.loc[idx, 'player0_species'] = 2

idx = df_train[df_train.player1_species=='T'].index
df_train.loc[idx, 'player1_species'] = 0
idx = df_train[df_train.player1_species=='P'].index
df_train.loc[idx, 'player1_species'] = 1
idx = df_train[df_train.player1_species=='Z'].index
df_train.loc[idx, 'player1_species'] = 2

In [0]:
idx = df_test[df_test.player0_species=='T'].index
df_test.loc[idx, 'player0_species'] = 0
idx = df_test[df_test.player0_species=='P'].index
df_test.loc[idx, 'player0_species'] = 1
idx = df_test[df_test.player0_species=='Z'].index
df_test.loc[idx, 'player0_species'] = 2

idx = df_test[df_test.player1_species=='T'].index
df_test.loc[idx, 'player1_species'] = 0
idx = df_test[df_test.player1_species=='P'].index
df_test.loc[idx, 'player1_species'] = 1
idx = df_test[df_test.player1_species=='Z'].index
df_test.loc[idx, 'player1_species'] = 2

In [0]:
df_train.head()

   game_id  time  ...  ControlGroup_delta  winner
0        0  7.24  ...                 0.0       1
1        1  9.59  ...                 0.0       1
2        2  9.59  ...                -2.0       0
3        3  9.59  ...                 0.0       0
4        4  5.43  ...                 0.0       0

[5 rows x 31 columns]

In [0]:
df_test.head()

   game_id  time  ...  GetControlGroup_delta  ControlGroup_delta
0    38872  7.06  ...                  -34.0                 0.0
1    38873  6.07  ...                 -104.0                 4.0
2    38874  4.41  ...                 -363.0                 0.0
3    38875  7.58  ...                  231.0                 0.0
4    38876  2.50  ...                  386.0                 0.0

[5 rows x 30 columns]

In [0]:
df_train.shape

(38872, 31)

In [0]:
df_test.shape

(16787, 30)

In [0]:
x_train = df_train.iloc[:, :-1]
x_train.head()

   game_id  time  ...  AddToControlGroup_delta  ControlGroup_delta
0        0  7.24  ...                      2.0                 0.0
1        1  9.59  ...                      1.0                 0.0
2        2  9.59  ...                      1.0                -2.0
3        3  9.59  ...                      0.0                 0.0
4        4  5.43  ...                     -3.0                 0.0

[5 rows x 30 columns]

In [0]:
x_train.shape

(38872, 30)

In [0]:
y_train = df_train.iloc[:, -1]
y_train.head()

0    1
1    1
2    0
3    0
4    0
Name: winner, dtype: int64

In [0]:
y_train = np.array(y_train)

In [0]:
y_train

array([1, 1, 0, ..., 0, 1, 0])

# XGBoost 적용하기

In [0]:
# XGBClassifier
# 반드시 튜닝해야할 파라미터는 max_depth / gamma

def XGB_cv( max_depth, 
            learning_rate, 
            subsample, 
            colsample_bytree, 
            reg_alpha, 
            reg_lambda, 
            gamma, 
            max_delta_step, 
            x_data=None, 
            y_data=None, 
            n_splits=5, 
            output='score'
        ):
    
    score = 0
    kf = KFold(n_splits = n_splits)
    models = []
    for train_index, valid_index in kf.split(x_data):
        x_train, y_train = x_data.iloc[train_index], y_data[train_index]
        x_valid, y_valid = x_data.iloc[valid_index], y_data[valid_index]

        model = xgb.XGBClassifier(
            # booster = 'dart',
            max_depth = int(max_depth),
            # n_estimators = int(n_estimators),
            learning_rate = learning_rate,
            subsample = np.clip(subsample, 0, 1),
            # colsample_bynode = np.clip(colsample_bynode, 0, 1),
            colsample_bytree = np.clip(colsample_bytree, 0, 1),
            reg_alpha = reg_alpha,
            reg_lambda = reg_lambda,
            gamma = gamma,
            max_delta_step = max_delta_step,
        )

        model.fit(x_train, y_train)
        models.append(model)

        pred = model.predict_proba(x_valid)[:, 1]
        true = y_valid
        score += roc_auc_score(true, pred) / n_splits

    if output == 'score':
        return score
    if output == 'model':
        return models

In [0]:
# 모델 그 외 변수는 고정
var_fixed = partial(
        XGB_cv, 
        x_data=x_train, 
        y_data=y_train, 
        n_splits=5, 
        output='score'
    )

# 베이지안 최적화 범위 설정
XGBo = BayesianOptimization(
        var_fixed, 
        {
            'max_depth': (8, 512),          # ~ 500
            'learning_rate': (0.1, 0.6),    # 0.6xxx
            'subsample': (0.5, 0.9),        # 0.5 ~ 0.7
            'colsample_bytree': (0.5, 1),   # 0.5 ~ 0.8
            # 'colsample_bynode':(0, 1),
            # 'n_estimators' : (16, 1024),
            'reg_alpha' : (7, 20),          # L1 - 7 ~ 20
            'reg_lambda' : (8, 50),         # L2 - 8 ~ 45
            'max_delta_step' : (1, 25),     # 8.x
            'gamma' : (5, 20),              # 1 ~ 15
        },
        random_state = random.randrange(50000) # 유동 시드 1~50000
    )

XGBo.maximize(init_points=15, n_iter=60)    # 처음 15회 랜덤값으로 score 계산 후 60회 최적화

|   iter    |  target   | colsam... |   gamma   | learni... | max_de... | max_depth | reg_alpha | reg_la... | subsample |
-------------------------------------------------------------------------------------------------------------------------
|  1        |  0.641    |  0.5165   |  15.61    |  0.2778   |  19.44    |  379.4    |  16.86    |  47.84    |  0.6544   |
|  2        |  0.6429   |  0.7431   |  11.1     |  0.2601   |  6.099    |  105.6    |  20.0     |  33.82    |  0.5992   |
|  3        |  0.6491   |  0.9922   |  9.382    |  0.3212   |  19.21    |  171.7    |  8.512    |  18.57    |  0.7829   |
|  4        |  0.6459   |  0.8146   |  11.11    |  0.3454   |  22.34    |  397.8    |  12.26    |  27.95    |  0.5339   |
|  5        |  0.6453   |  0.8961   |  8.893    |  0.4713   |  3.639    |  387.5    |  16.29    |  11.36    |  0.604    |
|  6        |  0.6422   |  0.823    |  6.522    |  0.5516   |  19.06    |  71.52    |  13.16    |  44.46    |  0.6045   |
|  7        |  0.6469   |  0.5129   |  7.104    |  0.4049   |  16.57    |  441.5    |  8.795    |  46.54    |  0.8528   |
|  8        |  0.6359   |  0.525    |  18.04    |  0.5035   |  23.9     |  399.1    |  16.3     |  31.66    |  0.6399   |
|  9        |  0.6478   |  0.9777   |  7.832    |  0.2045   |  13.04    |  312.2    |  9.658    |  29.36    |  0.6281   |
|  10       |  0.6409   |  0.5192   |  19.87    |  0.4443   |  23.78    |  101.7    |  10.75    |  15.93    |  0.8303   |
|  11       |  0.649    |  0.7778   |  12.7     |  0.2596   |  5.2      |  61.32    |  7.695    |  8.238    |  0.8141   |
|  12       |  0.6405   |  0.8568   |  18.03    |  0.3977   |  13.82    |  466.0    |  15.64    |  13.81    |  0.5121   |
|  13       |  0.6394   |  0.5685   |  16.52    |  0.2673   |  7.372    |  117.6    |  13.39    |  34.15    |  0.5021   |
|  14       |  0.6468   |  0.5898   |  9.648    |  0.37     |  2.193    |  438.8    |  15.66    |  15.09    |  0.7417   |
|  15       |  0.6433   |  0.7661   |  18.61    |  0.5341   |  17.82    |  34.79    |  10.41    |  35.81    |  0.8193   |
|  16       |  0.6352   |  0.7546   |  5.672    |  0.4015   |  3.157    |  18.31    |  8.765    |  10.18    |  0.7454   |
|  17       |  0.6488   |  0.561    |  5.315    |  0.1672   |  16.98    |  504.3    |  19.29    |  16.75    |  0.6823   |
|  18       |  0.6475   |  0.7545   |  6.278    |  0.2544   |  5.66     |  216.3    |  12.08    |  16.95    |  0.653    |
|  19       |  0.6509   |  0.6624   |  6.869    |  0.1131   |  7.613    |  510.3    |  8.031    |  15.49    |  0.725    |
|  20       |  0.6459   |  0.7449   |  5.417    |  0.3079   |  24.62    |  246.0    |  13.03    |  48.13    |  0.5311   |
|  21       |  0.6496   |  0.6226   |  6.362    |  0.2522   |  2.824    |  510.7    |  13.75    |  46.64    |  0.8602   |
|  22       |  0.6385   |  0.8424   |  6.106    |  0.4319   |  23.46    |  232.7    |  10.26    |  8.347    |  0.5344   |
|  23       |  0.6508   |  0.6215   |  5.12     |  0.1256   |  1.231    |  372.7    |  8.185    |  47.17    |  0.7163   |
|  24       |  0.642    |  0.6372   |  5.3      |  0.2475   |  5.273    |  123.3    |  7.659    |  8.331    |  0.639    |
|  25       |  0.6438   |  0.8141   |  15.82    |  0.5308   |  24.83    |  48.96    |  19.1     |  15.41    |  0.8902   |
|  26       |  0.6457   |  0.977    |  8.176    |  0.4089   |  3.041    |  195.8    |  7.598    |  44.65    |  0.5719   |
|  27       |  0.6451   |  0.6376   |  5.471    |  0.417    |  24.07    |  320.3    |  19.45    |  49.94    |  0.5948   |
|  28       |  0.6441   |  0.9676   |  8.684    |  0.4547   |  21.72    |  511.0    |  8.631    |  44.57    |  0.5392   |
|  29       |  0.6388   |  0.6239   |  19.32    |  0.1041   |  1.115    |  47.63    |  18.75    |  25.91    |  0.6238   |
|  30       |  0.6482   |  0.602    |  5.318    |  0.2844   |  21.71    |  172.9    |  18.79    |  43.94    |  0.7503   |
|  31       |  0.6261   |  0.9623   |  5.07     |  0.4821   |  3.97     |  488.4    |  9.087    |  13.49    |  0.5425   |
|  32       |  0.6384   |  0.674    |  19.98    |  0.5463   |  1.253    |  508.2    |  18.68    |  15.2     |  0.7117   |
|  33       |  0.6374   |  0.9066   |  18.38    |  0.4367   |  2.808    |  253.9    |  19.93    |  49.16    |  0.5982   |
|  34       |  0.6472   |  0.8279   |  7.438    |  0.2901   |  22.33    |  9.013    |  17.08    |  46.91    |  0.5664   |
|  35       |  0.6464   |  0.7863   |  16.32    |  0.4939   |  21.25    |  511.2    |  7.455    |  9.497    |  0.8462   |
|  36       |  0.6425   |  0.79     |  18.12    |  0.11     |  6.383    |  172.0    |  18.46    |  9.384    |  0.7758   |
|  37       |  0.6473   |  0.5      |  7.39     |  0.1      |  1.0      |  293.4    |  7.0      |  48.81    |  0.5      |
|  38       |  0.6447   |  0.6625   |  5.081    |  0.424    |  16.57    |  406.9    |  19.77    |  37.73    |  0.6037   |
|  39       |  0.6429   |  0.9085   |  19.63    |  0.2551   |  22.22    |  11.05    |  9.018    |  14.42    |  0.6125   |
|  40       |  0.6475   |  0.8163   |  7.439    |  0.4214   |  24.97    |  432.3    |  16.85    |  9.97     |  0.8648   |
|  41       |  0.6482   |  0.8589   |  12.52    |  0.5169   |  2.056    |  206.4    |  7.518    |  39.69    |  0.8713   |
|  42       |  0.6447   |  0.8142   |  15.4     |  0.1757   |  23.28    |  299.9    |  7.278    |  49.81    |  0.7256   |
|  43       |  0.6446   |  0.8909   |  9.651    |  0.5247   |  14.71    |  509.2    |  10.4     |  17.37    |  0.5038   |
|  44       |  0.6394   |  0.6306   |  18.44    |  0.5434   |  2.845    |  8.615    |  7.66     |  49.95    |  0.7129   |
|  45       |  0.6445   |  0.5634   |  6.13     |  0.3229   |  20.69    |  351.2    |  8.504    |  10.81    |  0.8096   |
|  46       |  0.6428   |  0.6052   |  17.21    |  0.1292   |  13.07    |  415.2    |  7.161    |  11.04    |  0.5212   |
|  47       |  0.6428   |  0.6716   |  15.22    |  0.1295   |  24.73    |  210.7    |  8.798    |  39.84    |  0.5963   |

In [0]:
params = XGBo.max['params']
models = XGB_cv(
        params['max_depth'], 
        params['learning_rate'],
        params['subsample'], 
        params['colsample_bytree'],
        # params['colsample_bynode'], 
        params['reg_alpha'], 
        params['reg_lambda'],
        params['max_delta_step'],
        # params['n_estimators'],
        params['gamma'],
        x_data=x_train, 
        y_data=y_train, 
        n_splits=5, 
        output='model'
    )

In [0]:
df_test.head()

   game_id  time  ...  winner  ControlGroup_count_1_y
0        0  7.24  ...       1                     0.0
1        1  9.59  ...       1                     0.0
2        2  9.59  ...       0                     0.0
3        3  9.59  ...       0                     0.0
4        4  5.43  ...       0                     0.0

[5 rows x 32 columns]

In [0]:
preds = []
for model in models:
    pred = model.predict_proba(x_test)[:, 1]
    preds.append(pred)
    
pred = np.mean(preds, axis=0)

submission = sample_submission_data # pd.read_csv('data/sample_submission.csv', index_col=0)
submission['winner'] = submission['winner'] + pred
submission.to_csv('/content/gdrive/My Drive/Colab Notebooks/competition data/startcraft_data/submit_0327_2.csv', index=False)
submission.head()

In [0]:
submission['winner'].value_counts()

In [0]:
submission[submission['winner'] >= 1]